:host {
    border: solid 1px lightgrey;
    border-top: solid 2px dodgerblue;
    border-radius: 3px;
    display: block;
    padding: 10px;
    height: 96.5%;
    overflow: auto;
}

.document-type-list-item {
    color: dodgerblue;
    cursor: pointer;
}

.document-type-list-item .remove {
    color: red;
}

.document-type-list-item > .list-item-action {
    display: none;
}
.document-type-list-item:hover > .list-item-action {
    display: initial;
}
.list-item-action {
    cursor: pointer;
}

.selected-list-item {
    font-weight: bold;
    color: #00A65A;
}

h3 {
    margin: 0px;
}