:host {
    border: solid 1px lightgrey;
    border-top: solid 2px dodgerblue;
    border-radius: 3px;
    display: block;
    padding: 10px;
    height: 96.5%;
}

.field-list-item {
    color: dodgerblue;
    cursor: pointer;
}

.field-list-item .remove {
    color: red;
}

.field-list-item .move {
    color: green;
}

.forbidden {
    cursor: not-allowed;
}

.field-list-item > .list-item-action {
    display: none;
}
.field-list-item:hover > .list-item-action {
    display: initial;
}
.list-item-action {
    cursor: pointer;
}

h3 {
    margin-top: 0px;
}

.document-type-details {
    float: left;
}

field-editor {
    float: right;
}