<form>
    <label for="name">Name</label>
    <input type="text" name="name" required [(ngModel)]="docType.name">

    <label for="group">Group</label>
    <input type="text" name="group" required [(ngModel)]="docType.group">

    <label for="category">Category</label>
    <input type="text" name="category" required [(ngModel)]="docType.category">

    <ul>
        <li *ngFor="let field of docType.fields" (click)="onFieldSelected(field)">{{field.name}}</li>
    </ul>

    <field-editor *ngIf="fieldBeingEdited" [field]="fieldBeingEdited" (editComplete)="onEditComplete($event)"></field-editor>
</form>