form {
    border-top: solid 2px dodgerblue;
}

.forbidden {
    cursor: not-allowed;
}

.field-list-item > .list-item-action {
    display: none;
}
.field-list-item:hover > .list-item-action {
    display: initial;
}
.list-item-action {
    cursor: pointer;
}