<form (ngSubmit)="onSave()" #documentTypeForm="ngForm">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" required [(ngModel)]="documentType.name">
    </div>

    <div>
        <label for="group">Group</label>
        <input type="text" name="group" required [(ngModel)]="documentType.group">
    </div>

    <div>
        <label for="category">Category</label>
        <input type="text" name="category" required [(ngModel)]="documentType.category">
    </div>

    <ul>
        <li *ngFor="let field of documentType.fields" (click)="onFieldSelected(field)">{{field.name}}</li>
    </ul>

    <button type="submit" [disabled]="!documentTypeForm.form.valid || fieldBeingEdited" [class.forbidden]="!documentTypeForm.form.valid || fieldBeingEdited">Save</button>
    <button type="button" [disabled]="fieldBeingEdited" (click)="onCancel()">Cancel</button>

    <field-editor *ngIf="fieldBeingEdited" [field]="fieldBeingEdited" (editComplete)="onFieldEditComplete($event)"></field-editor>
</form>