<h3>Edit Field</h3>

<form (ngSubmit)="onSave()" #fieldForm="ngForm">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" required [(ngModel)]="field.name">
    </div>
    <div>
        <input type="checkbox" name="isMultiValue" [(ngModel)]="field.isMultiValue">
        <label for="isMultiValue">Is multi-value</label>
    </div>

    <button type="submit" [disabled]="!fieldForm.form.valid" [class.forbidden]="!fieldForm.form.valid">Save</button>
    <button type="button" (click)="onCancel()">Cancel</button>
</form>