:host {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    height: 100%;
}

* {
    background-color: white;
}

explorer {
    flex: 0.33;
}

document-type-editor {
    flex: 0.66;
}